---
version: "3"
services:
    web:
        build:
            context: ./app
            dockerfile: Dockerfile.local
        volumes: [./app/:/usr/src/app/]
        ports: [8000:8000]
        env_file: [./.env.local]
        environment:
            - SECRET_KEY=
            - AWS_ACCESS_KEY_ID=
            - AWS_SECRET_ACCESS_KEY=
            - RECAPTCHA_PUBLIC_KEY=
            - RECAPTCHA_PRIVATE_KEY=
            - SQL_USER=
            - SQL_PASSWORD=
            - SQL_DATABASE=
        networks: [backend]
        depends_on: [db]
    db:
        image: postgres:13.0-alpine
        volumes: [postgres_data:/var/lib/postgresql/data/]
        ports: [5432:5432]
        environment: [POSTGRES_USER=, POSTGRES_PASSWORD=, POSTGRES_DB=]
        networks: [backend]
networks:
    backend:
        driver: bridge
volumes:
    postgres_data:
